/**
  * @name tylxr+
  * @author tylxr
  * @version 1.1.4
  * @description Semi-vanilla Discord theme with a purple color scheme.
  * @authorId 210581909565079553
  * @source https://github.com/tylxr59/tylxrplus-discord-theme
  * @website https://tylxr.com/
  * @donate https://www.eff.org/pages/donate-eff
*/

:root {
    --tylxrplus-bg: #1a1a1a;
    --tylxrplus-secondary-bg: #202020;
    --tylxrplus-tertiary-bg: #181818;
    --tylxrplus-theme-color: #ab9df2;
    --tylxrplus-theme-dark-color: #3b3653;
    --tylxrplus-theme-strong-color: #927EF1;
    --tylxrplus-home-icon: url(https://tylxr.com/img/x-logo-circle.png);
    --tylxrplus-divider-color: #5a5a5a;
    /* --watermark-filter-invert: 0%;
    --watermark-filter-sepia: 50%;
    --watermark-filter-saturate: 3000%;
    --watermark-filter-hue-rotate: 210deg;
    --watermark-filter-brightness: 70%;
    --watermark-filter-contrast: 200%; */

    --tylxrplus-default-username-color: #b8b2c9;

    --tylxrplus-purple: #ab9df2;
    --tylxrplus-red: #fa657e;
    --tylxrplus-green: #7dce64;
    --tylxrplus-yellow: #FFEE87;
    --tylxrplus-pink: #fa7ac4;

    /* Overrides for some Discord variables */
    --saturation-factor: 0.1;
    --status-danger: var(--tylxrplus-red);
    --status-success: var(--tylxrplus-green);
    --brand-500: var(--tylxrplus-theme-dark-color);
    --text-brand: var(--tylxrplus-theme-color);
    --badge-brand-bg: #ab9df2;
    --badge-brand-text: var(--tylxrplus-theme-dark-color);
    --text-positive: var(--tylxrplus-green);
    --guild-boosting-pink: var(--tylxrplus-pink);
    --background-secondary: var(--tylxrplus-bg);
    --background-secondary-alt: var(--tylxrplus-bg);
    --bg-base-primary: var(--tylxrplus-secondary-bg);
    --green-330: var(--tylxrplus-green);
}

/* Statuses */
rect[mask="url(#svg-mask-status-online)"], .status_c7d26b, rect[mask="url(#svg-mask-status-online-mobile)"], rect[mask="url(#:r93:)"], rect[mask="url(#:r15:)"], rect[mask="url(#:r95:)"], rect[mask="url(#:r68:)"], rect[mask="url(#:r6o:)"], rect[mask="url(#:rcd:)"] {
    fill: var(--tylxrplus-green);
    background-color: var(--tylxrplus-green) !important;
}

rect[mask="url(#svg-mask-status-streaming)"], rect[mask="url(#:r69:)"] {
    fill: var(--tylxrplus-purple);
}

rect[mask="url(#svg-mask-status-idle)"], rect[mask="url(#:r6a:)"] {
    fill: var(--tylxrplus-yellow);
}

rect[mask="url(#svg-mask-status-dnd)"], rect[mask="url(#:r6c:)"], rect[mask="url(#:r28:)"], rect[mask="url(#:r29:)"], rect[mask="url(#:r2h:)"]  {
    fill: var(--tylxrplus-red) !important;
}

/* In-chat Links */
.anchor_af404b {
    color: var(--tylxrplus-theme-strong-color) !important;
}

.anchor_af404b:hover {
    color: var(--tylxrplus-theme-color) !important;
}

/* Icon */
.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb {
    background: var(--tylxrplus-home-icon) center/cover no-repeat;
    min-width: 50px;
    min-height: 50px;
}

.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb svg {
    display: none;
}


/* Server/DM Bar */
.itemsContainer_fea3ef {
    background-color: var(--tylxrplus-tertiary-bg);
}

/* Chat title SVG */
.children_fc4f04 .iconWrapper_fc4f04 .icon_fc4f04 path {
    fill: var(--tylxrplus-theme-color);
}

/* Direct Messages and Server Channels */
.sidebar_a4d4d9,
.container_ee69e0,
.privateChannels_f0963d,
.privateChannels_f0963d .thin_eed6a8,
.members_cbd271 .content_eed6a8,
.title_a7d72e {
    background: none;
    background-color: var(--tylxrplus-bg) !important;
}

/* User Mentions, Channel Mentions, etc... */
.unreadMentionsFixedFooter_fea3ef {
    bottom: 0;
}

.mention, .channelMention, .wrapper_bf1b19 {
    background-color: #3b3653;
    color: #ab9df2;
}

.mention:hover, .channelMention:hover, .wrapper_bf1b19:hover, .message_d5deea.mentioned_d5deea:hover {
    background-color: #4b456b;
    background: #4b456b;
    color: #d1c7ff;
}

.mentioned_d5deea {
    background: var(--tylxrplus-theme-dark-color);
}

.mentioned_d5deea:hover {
    background: #332e47;
}

.mentioned_d5deea:before {
    background: var(--tylxrplus-theme-color);
}

/* Main Chat Panel */
.chatContent_a7d72e {
    background-color: var(--tylxrplus-secondary-bg);
}

/* Bot/App Tag */
.botTagRegular_a9e77f {
    background-color: #6365CF;
    color: var(--tylxrplus-bg);
}

.botTagVerified_a9e77f path {
    fill: var(--tylxrplus-bg);
}

/* Channel Categories and User Groups */
.name_a08117, .membersGroup_cbd271 {
    color: var(--tylxrplus-theme-color);
}

/* Default Username Color */
.username_f9f2ca {
    color: var(--tylxrplus-default-username-color);
}

/* Chat Box */
.scrollableContainer_bdf0de {
    border: 2px solid var(--tylxrplus-theme-color);
    border-radius: 5px;
    background-color: var(--tylxrplus-secondary-bg);
}

/* No bg for users in userlist */
.member_cbd271 {
    background: none !important;
}

.container_c64476 {
    background-color: var(--tylxrplus-secondary-bg);
}

/* Hide Discover Content */
.footer_d71945 {
    display: none;
}

/* Server activity, Unread notification + Live Badge */
.item_c4cd66 {
    background-color: var(--tylxrplus-theme-color);
}

.numberBadge_df8943, .live_ec1c2d {
    background-color: var(--tylxrplus-red) !important;
    color: var(--tylxrplus-bg) !important;
}

/* New Server Button */
.circleIconButton_db6521 {
    color: var(--tylxrplus-theme-color);
}

.circleIconButton_db6521:hover {
    background-color: var(--tylxrplus-theme-color);
}

/* Folder Icons */
.closedFolderIconWrapper_bc7085 {
    background-color: #7e77a7;
}

.expandedFolderIconWrapper_bc7085 svg {
    color: var(--tylxrplus-theme-strong-color) !important;
}

/* Search Bars and Chat Bar */
.searchBarComponent_f0963d,
.searchBar_a46bef {
    border: 1px solid var(--tylxrplus-theme-color);
    border-radius: 2px;
    background-color: var(--tylxrplus-secondary-bg);
}

/* Hide App Launcher */
.channelAppLauncher_df39bd {
    display: none;
}

.theme-dark .children_fc4f04:after {
    background: none;
}

/* Divider Themeing */
.divider_d5deea {
    border-top-color: var(--tylxrplus-divider-color);
}

.content_c2654d {
    background-color: var(--tylxrplus-secondary-bg);
    color: var(--tylxrplus-divider-color)
}